header{
    background-image: url("../images/photo.png");
    background-repeat: no-repeat;
    background-size: cover;
    @include wrapper;
    .navigation_container{
        width: 100%;
        position: fixed;
        padding-top: 41px;
        z-index: 20;
        .navigation{
            margin: auto;
            left: 0;
            right: 0;
            display: flex;
            justify-content: space-between;
            max-width: 1170px;
            width: 100%;
            .logo{
                @include text;
                z-index: 100;
                font-weight: 700;
                color: $white;
                font-family: $quicksand_regular;
                font-size: 24px;
                text-align: left;
                text-transform: uppercase;
                display: flex;
                span {
                    margin: -4px 0 8px;
                }
                .u{
                    letter-spacing: -2.4px;
                } 
            }
            .onepage_theme{
                width: 44px;
                height: 16px;
                opacity: 0.3;
                font-size: 9px;
                line-height: 10px;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 0.14em;
                color: $white;
                margin: -1px 0 0 5px;
                .onepage {
                    letter-spacing: 0.6px;
                }
            }
            .header__nav {
                display: block;
            }
            nav{
                display: flex;
                margin-top: 2px;
                padding: 2px 0 0;
                color: $white_nav;
                z-index: 2;
                .header__menu {
                    display: flex;
                    position: relative;
                    z-index: 2;
                    float: right;
                    a {
                        color: $white;
                        text-decoration: none;
                    }
                    li{
                        font-family: $semibold;
                        font-size: 16px;
                        list-style-type: none;
                        margin: -7px 0 0 23.5px;
                        font-weight: 400;
                        position: relative;
                        &:hover::before{
                            @include underline;
                            margin-top: 31px;
                            transform: translate(-11px);
                        }
                        &:hover::after{
                            @include underline;
                            transform: translate(11px);
                            margin-top: 7px;
                        }
                        }     
                    }
                }
            }
        }
    
.header_content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 76px;
    h1{
        color: $white;
        font-family: $semibold;
        font-size: 48px;
        font-weight: 600;
        line-height: 48px;
        margin: 0 0 20px;
    }
    p{
        font-weight: 400;
        text-align: left;
        font-size: 18px;
        color: $gray;
        font-family: $regular;
       
        span {
            display: block;
            margin-top: -1px;
        }
    }
    img {
        padding-top: 45px;
        margin-left: 94px;}

    .button {
        display: flex;
        margin-top: 42px;
    }

    .view_button {
        @include view_button;
        text-indent: 2.3px;
    }
    .banner_header{
        padding-bottom: 43px;
        display: flex;
        flex-direction: column;
    }

}
    .device_image{
        max-height: 640px;
        width: 100%;
    } 
}